{% load bootstrap4 %}
{% load static %}
{% load cloudinary %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">


  {% if title %}
  <title>{{title}}</title>
  {% else %}
  <title>Nick | Portfolio </title>
  {% endif %}  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link rel="icon" href="https://res.cloudinary.com/dbos9xidr/image/upload/v1626082454/as8ixvziyd2bq9i5yqzl.jpg">
  <link href="assets/img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="assets/vendor/icofont/icofont.min.css" rel="stylesheet">
  <link href="assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
  <link href="assets/vendor/venobox/venobox.css" rel="stylesheet">
  <link href="assets/vendor/owl.carousel/assets/owl.carousel.min.css" rel="stylesheet">
  <link href="assets/vendor/aos/aos.css" rel="stylesheet">
  <link rel="stylesheet" href="https://res.cloudinary.com/dbos9xidr/raw/upload/v1628668395/portfolio-style.css">

  {% block styles %}
  {% bootstrap_css %}
  <link rel="stylesheet" href="{% static 'css/styles.css' %}">
  {% endblock styles %}
</head>

<body>
  {% block content %}
  {% endblock content %}
  {% block scripts %}
  <!-- ======= Footer ======= -->
  <footer id="footer">
    <div class="container">
      <div class="copyright">
        &copy; Copyright <strong><span>Nicholas Ngetich</span></strong>
      </div>
    </div>
  </footer><!-- End  Footer -->

  <a href="#" class="back-to-top"><i class="icofont-simple-up"></i></a>

  <!-- Vendor JS Files -->
  <script src="{% static 'js/jquery/jquery.min.js' %}"></script>
  <script src="{% static 'js/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
  <script src="{% static 'js/jquery.easing/jquery.easing.min.js' %}"></script>
  <script src="{% static 'js/php-email-form/validate.js' %}"></script>
  <script src="{% static 'js/waypoints/jquery.waypoints.min.js' %}"></script>
  <script src="{% static 'js/counterup/counterup.min.js' %}"></script>
  <script src="{% static 'js/isotope-layout/isotope.pkgd.min.js' %}"></script>
  <script src="{% static 'js/venobox/venobox.min.js' %}"></script>
  <script src="{% static 'js/owl.carousel/owl.carousel.min.js' %}"></script>
  <script src="{% static 'js/typed.js' %}/typed.min.js' %}"></script>
  <script src="{% static 'js/aos/aos.js' %}"></script>

  <!-- Template Main JS File -->
  <script src="{% static 'js/main.js' %}"></script>
  {% endblock scripts %}
</body>

</html>