{%extends 'base.html'%}
{% block content %} 
{{ block.super}}

<div class="container">

  <!-- Looping through projects   -->
  {% for projects_item in projects %}

  <div class="row project">
    <div class="col-md-2"></div>
    <!-- displaying projects projects -->
    <div class="col-md-8">
      <a href="{% url 'projects_item.detail' projects_item.id %}"><h2 class="text-success">{{ projects_item.title }}</h2></a>
      <p>{{ projects_item.description}}</p>
      <!--Display projects project images  -->
      <a href="{% url 'projects_item.detail' projects_item.id %}" class="open-project"><img src="{{projects_item.project_image.url}}" class="img-responsive" alt="Image"></a>
    </div>
    <div class="col-md-2"></div>
  </div>

  {% empty %}
  <div class="row">
    <h2 class="text-center">There No projects Items</h2>
  </div>
  {% endfor %}

</div>
<script src="../static/js/script.js"></script>

{% endblock %}