{%extends 'base.html'%}
{% block content %} 
{{ block.super}}

<div class="container">

  <!-- Looping through projects   -->
  {% for projects_item in projects %}

  <div class="row project">
    <div class="col-md-1"></div>
    <!-- displaying projects projects -->
    <div class="col-md-4">
      <h2 class="text-success"> {{ projects_item.title }} </h2>
      <p>{{ projects_item.description}}</p>
      <P>Repository Link: <a href="{{projects_item.repo_link}}">{{projects_item.repo_link}}</a></P>
      <P>Live Link: <a href="{{projects_item.live_link}}">{{projects_item.live_link}}</a></P>
      <p>Posted on: {{ projects_item.published_on}}</p>
    </div>

    <!--Display projects project images  -->
    <div class="col-md-6">
      <img src="{{projects_item.project_image.url}}" class="img-responsive" alt="Image">
    </div>
    <div class="col-md-1"></div>
  </div>

  {% empty %}
  <div class="row">
    <h2 class="text-center">There No projects Items</h2>
  </div>
  {% endfor %}

</div>

{% endblock %}