{%extends 'base.html'%}
{% block content %} 
{{ block.super}}

<div class="container">

  <!-- Looping through projects   -->
  <div class="row project">
    <div class="col-md-2"></div>
    <!-- displaying projects projects -->
    <div class="col-md-8">
      <h2 class="text-success"> {{ project.title }} </h2>
      <!--Display projects project images  -->
      <img src="{{project.project_image.url}}" class="img-responsive" alt="Image">
      <p>{{ project.description}}</p>
      <P>Repository Link: <a href="{{project.repo_link}}">{{project.repo_link}}</a></P>
      <P>Live Link: <a href="{{project.live_link}}">{{project.live_link}}</a></P>
      <p>Posted on: {{ project.published_on}}</p>
    </div>
    <div class="col-md-2"></div>
  </div>
</div>

{% endblock %}