{%extends 'base.html'%}
{% block content %} 
<main>
   <!-- ======= Resume Section ======= -->
   <section id="resume" class="resume">
    <div class="container">
      <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-9">
          <div class="section-title">
            <h2>Resume</h2>
            <p>I am currently learning programming at Moringa School to develop my skills in Software Development.</p>
          </div>
    
          <div class="row">
            <div class="col-lg-6" data-aos="fade-up">
    
              <h3 class="resume-title">Education</h3>
              <div class="resume-item">
                <h4>Software Development</h4>
                <h5>Feb 2021 - Present</h5>
                <p><em>Moringa School</em></p>
                <p>Moringa School offers opportunity for career advancement in Computer Programming, producing graduands with remarkable performance in Software Engineering.</p>
              </div>
              <div class="resume-item">
                <h4>Bachelor of Science in Business Information Technology</h4>
                <h5>2016 - 2020</h5>
                <p><em>Dedan Kimathi University of Technology</em></p>
                <p>I did my Bachelor's degree at Dedan KImathi University of Technology and graduated on May 2020. The course equiped me with knowledge in both business and IT from which I developed interest in Software Engineering which involves using Information Technology to come up with Business solutions. </p>
              </div>
              <div class="resume-item">
                <h4>KCSE</h4>
                <h5>2012 - 2015</h5>
                <p><em>Kiproroget Mix Day Secondary School</em></p>
              </div>
            </div>
            <div class="col-lg-6" data-aos="fade-up" data-aos-delay="100">
              <h3 class="resume-title">Professional Experience</h3>
              <div class="resume-item">
                <h4>Industrial Attachment</h4>
                <h5>Jan 2019 - Mar 2019</h5>
                <p><em>National Hospital Insurance Fund(NHIF) </em></p>
                <ul>
                  <li>Network configuration and Troubleshooting.</li>
                  <li>Network security.</li>
                  <li>Computer hardware repair and troubleshooting.</li>
                  <li>Biometric Registration.</li>
                  <li>Customer Care. </li>
                  <li>Bank Account Reconciliation.</li>
                  <li>Posting and examination of payment vouchers.</li>
                </ul>
              </div>
              <div class="resume-item">
                <h4>Internal Attachment</h4>
                <h5>Jan 2018 - April 2018</h5>
                <p><em>Dedan Kimathi University of Technology (DeKUT)</em></p>
                <ul>
                  <li>Software System Project Development.</li>
                  <li>Computer Hardware repair and Troubleshooting.</li>
                  <li>Network configuration and administration.</li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section><!-- End Resume Section -->
</main>
{% endblock %}